:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 157, 10);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

html {
  overflow-x: hidden;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", "Courier New", Courier, monospace !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-size: cover;
}

.about-background {
  min-height: 70vh;
}

.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown) !important;
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.navbar {
  position: sticky !important;
  top: 0px !important;
  z-index: 1000 !important;
}

.btn:focus {
  box-shadow: none !important;
  color: black !important;
  background: var(--mainYellow);
}

.btn-default {
  color: black !important;
  background: var(--mainYellow) !important;
}
